.banner {
    padding: 135px 0 140px;
    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        color: #180047;
        span {
            color: #ff0000;
        }
    }

    &__subtitle {
        max-width: 700px;
        font-weight: 500;
        font-size: 24px;
        line-height: 170%;
        margin-top: 60px;
    }

    @media (max-width: 1280px) {
        padding: 65px 0 115px;
        &__title {
            font-size: 60px;
        }

        &__subtitle {
            max-width: 720px;
            margin-top: 40px;
        }
    }

    @media (max-width: 1279px) {
        &__title {
            font-size: calc(30px + (30 + 30 * 0.7) * ((100vw - 768px) / 1279));
        }

        &__subtitle {
            font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 768px) / 1279));
            max-width: calc(472px + (400 + 400 * 0.7) * ((100vw - 768px) / 1279));
        }
    }

    @media (max-width: 767px) {
        padding: 85px 0;
        &__title {
           
            font-size: 30px;
        }

        &__subtitle {
            margin-top: 20px;
            max-width: 95%;
            font-size: 16px;
        }
    }

    &_main {
        .banner__title {
            @media (min-width: 768px) {
                max-width: 1290px;
            }
            @media (max-width: 1280px) and (min-width: 768px) {
                max-width: 990px;
            }

            @media (max-width: 1279px) and (min-width: 768px) {
                max-width: calc(531px + (450 + 450 * 0.7) * ((100vw - 768px) / 1279));
            }

            
        }
    }
}
