.section {
    &_form {
        overflow: hidden;
        padding-bottom: 127px;
        position: relative;
        .page__container {
            display: flex;
            justify-content: space-between;
            @media (max-width: 1279px) {
                flex-direction: column;
            }
        }
        > img {
            position: absolute;
            &:first-of-type {
                left: 0;
                bottom: 83px;
                width: 865px;

                @media (max-width: 1919px) {
                    width: calc(680px + (185 + 185 * 0.7) * ((100vw - 1280px) / 1919));
                }
                @media (max-width: 1280px) {
                    bottom: 170px;
                }

                @media (max-width: 1279px) {
                    bottom: 0;
                    width: 417px;
                    top: 100px;
                }
            }

            &:last-of-type {
                right: -10px;
                bottom: 0;

                @media (max-width: 1280px) {
                    display: none;
                }

                @media (max-width: 1024px) {
                    display: initial;
                    width: 121px;
                }
            }
        }

        &__title {
            flex-basis: 42%;
        }
    }
}

.form {
    margin-top: 115px;
    color: white;
    flex-basis: 50%;

    @media (max-width: 1279px) {
        margin-top: 240px;
    }

    @media (max-width: 1024px) {
        margin-top: 275px;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        margin-bottom: 50px;

        @media (max-width: 767px) {
            font-size: 24px;
            margin-bottom: 35px;
        }
    }

    &__row {
        position: relative;
        margin-bottom: 56px;

        &:last-child {
            margin-bottom: 0;
        }
        input,
        label,
        textarea {
            color: rgba(255, 255, 255, 0.7);
            font-size: 18px;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            span {
                color: red;
            }
            cursor: text;
        }

        input {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.7);
            width: 100%;

            &:focus + label {
                display: none;
            }

            &:focus {
                color: white;
                border-bottom: 1px solid white;
            }
        }

        textarea {
            resize: none;
            width: 100%;
            height: 103px;
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.7);
            outline: none;
            &:focus + label {
                display: none;
            }
        }

        input,
        textarea {
            &.no-empty {
                border-bottom: 1px solid white;
                color: white;
            }

            &.invalid {
                border-bottom: 1px solid rgba(255, 0, 0, 0.7);
                color: rgba(255, 0, 0, 0.7);
            }
        }

        &_file {
            margin-top: -30px;
            margin-bottom: 44px;
            display: flex;
            align-items: center;
            input {
                display: none;
            }

            label {
                position: initial;
                display: flex;
                align-items: center;
                color: white;
                cursor: pointer;
                width: max-content;

                &::before {
                    content: "";
                    background-image: url(../img/form/skrepka.svg);
                    background-size: 25px 25px;
                    width: 25px;
                    height: 25px;
                    background-repeat: no-repeat;
                    flex-shrink: 0;
                    margin-right: 18px;
                }
            }
        }
    }

    &__error {
        position: absolute;
        top: calc(100% + 6px);
        left: 0;
        color: red;
        opacity: 0.7;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        display: none;

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 120%;
        }
    }

    &__submit {
        display: flex;
        align-items: center;
        p {
            margin-left: 50px;
            font-weight: 500;
            font-size: 14px;
            line-height: 170%;
            color: rgba(255, 255, 255, 0.7);
            max-width: 363px;

            @media (max-width: 1500px) {
                margin-left: 40px;
            }

            @media (max-width: 767px) {
                margin-left: 13px;
                margin-top: -5px;
                font-size: 12px;
            }
        }

        @media (max-width: 767px) {
            align-items: start;
        }
    }

    &__filename {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;

        @media(max-width: 560px) {
            font-size: 12px;
        }

        display: flex;
        align-items: center;
        button {
            margin-left: 9px;
            background-size: 13px 13px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/cancel.svg);
            width: 13px;
            height: 13px;
        }
    }

    .btn_all {
        background-color: white;
        font-weight: 500;
        margin: 0;
        flex-shrink: 0;
        &:hover {
            background-color: transparent;
            border: 1px solid white;
            color: white;
        }

        @media (max-width: 1500px) {
            width: 180px;
            min-width: initial;
        }

        @media (max-width: 767px) {
            width: 160px;
        }
    }
}
