.section {
    padding: 110px 0 0;
    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 140%;
        color: #180047;
        margin-bottom: 40px;
    }

    @media (max-width: 1280px) {
        padding: 100px 0;
    }

    @media (max-width: 1279px) {
        &__title {
            font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 375px) / 1919));
        }
    }

    @media (max-width: 1024px) {
        padding: 70px 0 0;
        &__title {
            margin-bottom: 20px;
        }
    }

    &_faq {
        padding-bottom: 90px !important;
        @media (max-width: 767px) {
            .section__title {
                max-width: 320px;
            }
        }
    }

    &_prices {
        padding-bottom: 91px !important;
    }
    
}

.phone {
    font-weight: 500;
    transform: scale(1);
    transition: transform 0.25s linear;
    &:hover {
        transform: scale(1.07);
        color: red;
    }
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 25px;

    font-size: 18px;
    border-radius: 50px;
    transition: background-color 0.2s linear;
    &_red {
        border: 1px solid #ff0000;
        background-color: #ff0000;
        color: #ffffff;
        font-weight: 700;
        &:hover {
            background-color: white;
            color: #ff0000;
        }
    }

    &_all {
        border: 1px solid #0b011d;
        width: max-content;
        margin: 38px auto 0;
        line-height: 21px;
        min-width: 200px;
        background-color: white;
        &:hover {
            background-color: #0b011d;
            color: white;
        }
    }
}

.socials {
    margin-top: 7px;
    display: flex;
    align-items: center;
    a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: scale(1);
        transition: transform 0.3s ease;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        &:hover {
            transform: scale(1.05);
        }
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.whatsapp {
    background-image: url(../img/messengers/whatsapp.svg);
    background-color: #29a71a;
    background-size: 25px 25px;
}

.viber {
    background-image: url(../img/messengers/viber.svg);
    background-color: #6f3faa;
    background-size: 25px 25px;
}

.telegram {
    background-image: url(../img/messengers/telegram.svg);
    background-size: 22px 18px;
    background-color: #039be5;
}

.bg-gray {
    background-color: rgba(24, 0, 71, 0.04);
}

.color-white {
    color: white;
}

.bg-purple {
    background-color: #180047;
}

nav a:hover {
    color: red;
}

.logo {
    transform: scale(1);
    transition: transform 0.25s linear;
    &:hover {
        transform: scale(1.05);
    }
}

.text-right {
    text-align: right;
}

.font-bold {
    font-weight: 700 !important;
}

.no-wrap {
    white-space: nowrap;
}

.video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
        width: 85vw;
        height: 85vh;
        border-radius: 8px;

        @media (max-width: 1024px) {
            height: 40vh;
        }

        @media (max-width: 767px) {
            height: 30vh;
        }
    }
}
