@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url(../fonts/#{$file_name}.woff2) format("woff2"), url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$main: #0b011d;

@import "fonts";

@import "normalize";

body {
  font-family: "TT Norms";
}
.page {
  color: $main;
  background-color: white;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    max-width: 1718px;
    &_short {
      max-width: 1434px;
    }

    @media (max-width: 1750px) {
      padding: 0 100px;
    }

    @media (max-width: 1279px) {
      padding: 0 30px;
    }

    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 140%;
    color: #fff;
  }
}

/* Другое */
@import "other";

/* Контент */
@import "content";

/* Модалки */
@import "popups";

/* Спойлеры */
@import "spoiler";

/* Шапка */
@import "header";

/* Баннер */
@import "banner";

/* Задачи */
@import "tasks";

/* Как мы это делаем? */
@import "doit";

/* Цены */
@import "prices";

/* Кейсы */
@import "cases";

/* Нам есть чем гордиться */
@import "pride";

/* Достижения */
@import "achievements";

/* Форма */
@import "form";

/* Подвал */
@import "footer";

//Панель мобилка
@import "panel";


//Анимации
@import "aos";
